x64
/BookPractice/.vs/BookPractice/FileContentIndex
/BookPractice/.vs/BookPractice/v17
/BookPractice/15_CubeMap/koulikova.pdf
/BookPractice/15_CubeMap/koulikova.en.ko.pdf
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/BookPractice/21_ModelImportPractice/Models/bugatti/bugatti
/BookPractice/21_ModelImportPractice/Models/DancingMan
/BookPractice/21_ModelImportPractice/Fbxs/Snake_Hip_Hop_Dance.fbx
/BookPractice/21_ModelImportPractice/PrintLayerInfo_1.txt
/BookPractice/21_ModelImportPractice/PrintLayerInfo_2.txt
/BookPractice/21_ModelImportPractice/Fbxs/box.fbx
/BookPractice/21_ModelImportPractice/Fbxs/humanoid.fbx
/BookPractice/21_ModelImportPractice/Fbxs/sadface.fbx
/BookPractice/21_ModelImportPractice/Fbxs/Snake_Hip_Hop_Dance_1.fbx
/BookPractice/21_ModelImportPractice/Fbxs/Snake_Hip_Hop_Dance_1.fbm
/BookPractice/21_ModelImportPractice/Fbxs/Snake_Hip_Hop_Dance_none.fbx
/BookPractice/21_ModelImportPractice/Fbxs/Snake_Hip_Hop_Dance_none_uniform.fbx
/BookPractice/21_ModelImportPractice/Fbxs/Walking.fbx
.vs
Debug
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture.exe
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture.exp
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture.lib
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture.pdb
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture_x64_debug.exe
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture_x64_debug.exp
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture_x64_debug.lib
/SoloPractice/01_VerySimpleArchitecture/01_VerySimpleArchitecture_x64_debug.pdb
/DirectXTex
/SoloPractice/packages/boost.1.85.0
/SoloPractice/packages/directxtex_desktop_win10.2024.6.5.1
/SoloPractice/packages/Microsoft.Direct3D.D3D12.1.614.1
/SoloPractice/PixelStreamingClient/D3D12
/SoloPractice/PixelStreamingClient/PixelStreamingClient.exe
/SoloPractice/PixelStreamingClient/PixelStreamingClient.exp
/SoloPractice/PixelStreamingClient/PixelStreamingClient.lib
/SoloPractice/PixelStreamingClient/PixelStreamingClient.pdb
/SoloPractice/PixelStreamingClient/vcpkg_installed/x64-windows-static/vcpkg/info
/SoloPractice/PixelStreamingClient/vcpkg_installed/x64-windows-static/vcpkg/updates
/SoloPractice/PixelStreamingClient/vcpkg_installed/x64-windows-static/x64-windows/share/vcpkg-cmake
/SoloPractice/PixelStreamingClient/vcpkg_installed/x64-windows-static/x64-windows/share/vcpkg-cmake-config
/SoloPractice/PixelStreamingClient/vcpkg_installed/x64-windows-static/x64-windows-static/share/lz4
/SoloPractice/PixelStreamingClient/vcpkg_installed/x64-windows-static/x64-windows-static/share/man/man1
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/vcpkg/info
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/vcpkg/updates
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/vcpkg/updates/0000000000
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/vcpkg
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/x64-windows/share/vcpkg-cmake
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/x64-windows/share/vcpkg-cmake-config
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/x64-windows-static/lib/pkgconfig
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/x64-windows-static/share/lz4
/SoloPractice/01_VerySimpleArchitecture/vcpkg_installed/x64-windows-static/x64-windows-static/share/man/man1
/SoloPractice/01_VerySimpleArchitecture/testcapturescreen
/SoloPractice/01_VerySimpleArchitecture/ClassDiagram.cd
/SoloPractice/PixelStreamingClient/ClassDiagram.cd
