x64
/BookPractice/.vs/BookPractice/FileContentIndex
/BookPractice/.vs/BookPractice/v17
/BookPractice/15_CubeMap/koulikova.pdf
/BookPractice/15_CubeMap/koulikova.en.ko.pdf
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/BookPractice/21_ModelImportPractice/Models/bugatti/bugatti
/BookPractice/21_ModelImportPractice/Models/DancingMan
/BookPractice/21_ModelImportPractice/Fbxs/Snake_Hip_Hop_Dance.fbx
/BookPractice/21_ModelImportPractice/PrintLayerInfo_1.txt
/BookPractice/21_ModelImportPractice/PrintLayerInfo_2.txt
/BookPractice/21_ModelImportPractice/Fbxs/box.fbx
/BookPractice/21_ModelImportPractice/Fbxs/humanoid.fbx
/BookPractice/21_ModelImportPractice/Fbxs/sadface.fbx
