x64
/BookPractice/.vs/BookPractice/FileContentIndex
/BookPractice/.vs/BookPractice/v17
/BookPractice/15_CubeMap/koulikova.pdf
/BookPractice/15_CubeMap/koulikova.en.ko.pdf
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
